/* Estilos personalizados respecto a bootstrap*/

body {
  font-size: 1rem;
}

.fondo-nav {
  background: #15151d !important;
}

.imagenNavbar {
  width: 140px;
}

#inicio {
  background: url("../img/adults-analysis-banking-1451447.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.cabecera {
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  padding-top: 45vh;
}

#llamado-accion {
  background-color: rgba(116, 209, 76, 1);
}

#contacto{
  background-color: #175f9c;
}